
<div class="row">
	<div class="col-md-4">
		<!-- image for the company -->
		<%= image_tag @company.image_url %>

		<h2>
		  <%= @company.name %>
		</h2>
		
		<div class="star-rating" data-score= <%= @avg_rating %> ></div> <!-- The rating stars come here -->
		<p><%= "#{@reviews.length} reviews" %></p><br>

		<p>
		  <strong>Address:</strong>
		  <%= @company.address %>
		</p>

		<p>
		  <strong>Phone:</strong>
		  <%= @company.phone %>
		</p>

		<p>
		  <strong>Website:</strong>
		  <%= link_to @company.website, @company.website %>
		</p>

		<%= link_to 'Write a Review', new_company_review_path(@company), class: "btn btn-primary" %>
	</div>

	<div class="col-md-8">
		<!-- Get all the reviews -->
		<% if @reviews.blank? %>
			<br><h4>No reviews yet. Be the first to write one!</h4>
		<% else %>
			<table class="table">
				<tbody>
					<% @reviews.each do |review| %>
						<tr>
							<td>
								<div class="star-rating" data-score= <%= review.rating %> ></div> <!-- The rating stars come here -->
								<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>
</div><br>


<%= link_to 'Edit', edit_company_path(@company), class: "btn btn-success" %> |
<%= link_to 'Back', companies_path, class: "btn btn-primary" %>

<!-- jQuery for rating option -->
<script>
	$('.star-rating').raty({
		path: 'https://s3.eu-west-3.amazonaws.com/wegetreview/stars',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>

