<!-- image for the company -->
<%= image_tag @company.image_url %>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<%= link_to 'Edit', edit_company_path(@company), class: "btn btn-success" %> |
<%= link_to 'Back', companies_path, class: "btn btn-primary" %>
