<div class="col-md-8 offset-md-2">
  <%= form_with(model: [@company, review], local: true) do |form| %>
    <% if review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div id="star-rating"></div>
    <div class="form-group">
      <%= form.label :comment %>
      <%= form.text_area :comment, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>

</div>


<!-- jQuery for rating option -->
<script>
  $('#star-rating').raty({
    path: 'https://s3.eu-west-3.amazonaws.com/wegetreview/stars',
    scoreName: 'review[rating]'
  });
</script>
