<!DOCTYPE html>
<html>
  <head>
    <title>Wegetreview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Calling BootstrapCDN -->
    <%= render 'layouts/bootstrap'%>

  </head>

  <body>
    <!-- Calling the navbar -->
    <%= render 'layouts/navbar'%>

    <div class="container-fluid">
      <%= yield %>
    
      <!-- Calling the footer -->
      <%= render 'layouts/footer'%>
      
    </div>
  </body>
</html>
